<h3>Cart</h3>
<div>Count : {{ Store.order.items.length }}</div>
<table class="table table-condensed table-stripped">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Store.order.items">
            <td></td>
            <td>{{ item.productCategory }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unitPrice | currency:"INR" }}</td>
            <td>{{ item.unitPrice * item.quantity | currency:"INR" }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                SubTotal : {{ Store.order.subTotal | currency:"INR"}}
            </td>
        </tr>
    </tfoot>
</table>
<a class="btn btn-success" *ngIf="Store.order.items.length > 0" routerLink="checkout" >CheckOut</a>