<div class="row">
        <div *ngFor="let p of Store.products" class="col-md-4">
                <div class="card" style="width: 23rem;">
                    <!-- <img src="/img/{{ p.artId}}.jpg" class="card-img-top" alt="{{ p.artist }}"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.artDescription}}</p>
                        <h5>Price : {{ p.price | currency:"INR" }}</h5>
                        <button id="buyButton" class="btn btn-success" (click)="Store.addToOrder(p)">Buy</button>
                    </div>
                </div>
        </div>
</div>